
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# Virtual Environment
venv/
env/
ENV/
.venv/


# Database (IMPORTANT)
*.db
*.sqlite3


# Flask / Instance
instance/
*.sqlite


# Environment Variables
.env


# Logs
*.log


# VS Code / IDE
.vscode/
.idea/


# OS Files
.DS_Store
Thumbs.db


# Build / Distribution
build/
dist/
*.egg-info/
.eggs/


# Temporary files
*.swp
*.swo
*~


# Coverage / Testing
.coverage
htmlcov/


# Jupyter Notebook
.ipynb_checkpoints/