<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h2>Login</h2>

        <form id="loginForm">
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p>Don't have an account? <a href="/signup-page">Signup</a></p>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async function (e) {
            e.preventDefault();

            const data = {
                email: document.getElementById("email").value,
                password: document.getElementById("password").value
            };

            const res = await fetch("/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            });

            const result = await res.json();
            console.log("LOGIN RESPONSE:", result);

            if (result.token) {
                localStorage.setItem("token", result.token);
                alert("Login successful");
                window.location.href = "/projects-page";
            } else {
                alert(result.message);
            }
        });
        localStorage.setItem("role", result.role);
        localStorage.setItem("token", result.token);
    </script>

</body>

</html>